/**
 * prism.js theme
 * Based on Monokai pro
 * @author Samuel Thewessen
 */

:root {
  --monospace: 'Inconsolata', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  --black: rgb(44,41,45);
  --white: rgb(241,241,241);
  --orange: rgb(252, 152, 103);
  --green: rgb(169, 220, 118);
  --pink: rgb(255, 97, 136);
  --yellow: rgb(255, 216, 102);
  --purple: rgb(171, 157, 242);
  --blue: rgb(120, 220, 232);
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--white);
  background: none;
  font-family: var(--monospace);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0;
  overflow: auto;
  width: 100%;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--black);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: var(--white);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name,
.token.function {
  color: var(--green);
}

.token.boolean,
.token.number {
  color: var(--purple);
}

.token.property,
.token.class-name,
.token.symbol {
  color: var(--blue);
}

.token.selector,
.token.important,
.token.atrule,
.token.constant,
.token.keyword,
.token.builtin {
  color: var(--pink);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: var(--orange)
}

.token.operator,
.token.entity,
.token.url {
  color: var(--white)
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
