/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300,400,400i|Roboto:300,400&display=swap');

/* Fonts */
$regular: 'Open Sans', sans-serif
$heading: 'Roboto', sans-serif
$monospace: 'Inconsolata', monospace

/* Breakpoints */
$small: 767px
$medium: 992px
$large: 1200px
$extralarge: 1440px

/* Colors */
$black: rgb(35,31,32);
$white: rgb(241,241,241);
$orange: rgb(232, 144, 21)
